.content {
    background: linear-gradient(
      113.59deg,
      rgba(239, 239, 239, 0) -2.01%,
      rgba(239, 239, 239, 0.2) 103.74%
    );
    backdrop-filter: blur(777px);
    .content_container {
      width: 1240px;
      padding-bottom: 100px;
      align-items: center;
      display: flex;
      .content_left {
        display: flex;
      }
      .content_right {
        h1 {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 48px;
          line-height: 50px;
          text-transform: capitalize;
          color: #363853;
          span {
            color: #ff7a50;
          }
        }
        h2 {
          margin-top: 30px;
          font-family: "Rubik";
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 30px;
          color: #363853;
          opacity: 0.9;
        }
        .content_info {
          padding-top: 15px;
          .content_info_1 {
            align-items: center;
            padding-top: 15px;
            display: flex;
            img {
              margin: 0;
            }
            p {
              margin: 0;
              margin-left: 25px;
              font-family: "Rubik";
              font-style: normal;
              font-weight: normal;
              font-size: 24px;
              line-height: 30px;
              text-transform: capitalize;
              color: #363853;
            }
          }
          .content_info_2 {
            align-items: center;
            padding-top: 15px;
            display: flex;
            img {
              margin: 0;
            }
            p {
              margin: 0;
              margin-left: 35px;
              font-family: "Rubik";
              font-style: normal;
              font-weight: normal;
              font-size: 24px;
              line-height: 30px;
              text-transform: capitalize;
              color: #363853;
            }
          }
          .content_info_3 {
            align-items: center;
            padding-top: 15px;
            display: flex;
            img {
              margin: 0;
            }
            p {
              margin: 0;
              margin-left: 30px;
              font-family: "Rubik";
              font-style: normal;
              font-weight: normal;
              font-size: 24px;
              line-height: 30px;
              text-transform: capitalize;
              color: #363853;
            }
          }
          button {
            margin-top: 50px;
            font-family: "Rubik";
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            padding: 17px 44px;
            border: none;
            background: #ff7a50;
            box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
            border-radius: 30px 30px 1px 30px;
          }
        }
      }
    }
  }
  